<ion-header>
  <ion-toolbar>
    <ion-title>店铺列表</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of deptList" (click)="Active(item)">
      {{item.depotCode}} <span class="sp-cls">{{item.depotName}}</span>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText=''></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>