<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="msg">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>消息</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="kandian">
      <ion-icon name="eye"></ion-icon>
      <ion-label>看点</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="new">
      <ion-icon name="bulb"></ion-icon>
      <ion-label>新鲜事</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tool">
      <ion-icon name="construct"></ion-icon>
      <ion-label>工具</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
