.errorToast{
    .toast-wrapper {
      background: #f53d3d;
    }
  }
  .generalToast{
    .toast-wrapper {
      background: #488aff;
    }
  }
  .successToast{
    .toast-wrapper {
      background: #32db64;
    }
  }