ion-card{
    margin: 50% 0 !important;
    width: 100%;
}

.dvs-footer{
    padding: 15px 0;

    .btn-cls{
        width: 100%;
    }

}

.cls-pad{
    margin-right: 10px !important;
}

input.native-input.sc-ion-input-md {
    padding-left: 10px !important;
}
