<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon item-left class="cls-pad" name="person-add" color="primary"></ion-icon>
        <ion-input  type="text" clearInput='true' placeholder="请输入账号" [(ngModel)]="username"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-icon item-left class="cls-pad" name="unlock" color="primary"></ion-icon>
        <ion-input  type="password" clearInput='true' placeholder="请输入密码" required [(ngModel)]="password"></ion-input>
      </ion-item>
    
      <ion-item no-lines>
        <ion-label item-right text-right>记住密码</ion-label>
        <ion-toggle [(ngModel)]="IsRremoveStore"></ion-toggle>
      </ion-item>

      <div class="dvs-footer">
        <ion-button expand="full" color="primary" class="btn-cls" (click)="login()" >登录</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
